<div class="jumbotron center">
<h1>About this site</h1>
	<p1>This is my first Ruby on Rails app. Have fun posting some of your favorite pictures, and <%= link_to "signing up", new_user_registration_path %> is free!</p1>
	<p1>This app was constructed through the support of <%= link_to "One Month Rails", "http://www.onemonthrails.com", :target => "_blank" %>.  The purpose of this site is purely instructional/fun, and is based on <%= link_to "Pinterest.com", "http://www.Pinterest.com", :target => "_blank" %></p1>
